extends layout

block content
  h3= username
  p
    email

  p
    a#register-a(href='') Register in Firefox
  p
    a(href='/client') See my clients

  script.
    function sendMessage() {
        window.postMessage({type:"widp_register",request:{domain:"energyq.idp.rethink.orange-labs.fr", type:"rethink-oidc"}}, "*");
        }
    document.getElementById("register-a").onclick = sendMessage;
